a:hover,
a:focus {
    color: #038DB2;
}
video{
  width: 100%;
   z-index: -100;
    background-size: cover;
}

a,.tp-caption a.btn:hover {
	color: #ffffff;
}
div{
  
}
.top-nav-collapse {
	background: #038DB2;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #038DB2;
}

.team-wrapper-big:hover .team-wrapper-overlay, .team-wrapper-small:hover .team-wrapper-overlay { background: #038DB2; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #038DB2;
}

.widget-avatar .avatar:hover {
    border: 5px solid #038DB2;
}

.bg-skin {
	background: #038DB2;
}

.highlight-color {
	background-color: #038DB2;
}


/* pricing box  */
.pricing-box.skin {
	background: #038DB2;
}


/* portfolio */




/* blog */

ul.comment-meta li a:hover {
	color: #038DB2;
}

ul.comment-meta li.reply a {
	background: #038DB2;
}

.pagination > li > a,
.pagination > li > span {
  color: #038DB2;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #038DB2;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #038DB2;
  border-color: #038DB2;
}
.sidebar .widget ul li a:hover {
	color: #038DB2;
}

.widget .tagcloud a {
  background: #038DB2;
}

.flex-control-paging li a.flex-active { background: #038DB2;
	}
/* team */
.team-box {
	background: #038DB2;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #038DB2;
}
form.search-form input:focus {
	border-color: #038DB2;
}

/* footer */
ul.footer-menu li a:hover {
	color: #038DB2;
}

footer a.totop:hover {
	color: #038DB2;
}

.btn-skin {
  color: #d3d3d3;
  background-color: #038DB2;
  border-color: #038DB2;
}

.main-nav-bar {
	background-color: rgba(0,0,0,.5);
    --color-foreground: #fff;
    --color-button-background: #05a081;
    --color-button-foreground: #fff;
    --color-search-bar-background: rgba(255, 255, 255, 0.95);
    --color-search-bar-background-focus: #fff;
    /*background: var(--color-background,#232a34); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 66px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 1.15rem;
    z-index: 30;
}
}
 



